<!DOCTYPE html>
<html>
<head>

<title>About</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body style="background:black;color:white">

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
<div class="container">

<a class="navbar-brand text-white fw-bold" href="/">SALES</a>

<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="menu">

<ul class="navbar-nav mx-auto">


<li class="nav-item">
<a class="nav-link text-white" href="index.html">Home</a>
</li>

<li class="nav-item">
<a class="nav-link text-warning" href="about.html">About</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="dashboard.html">DashBoard</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="story.html">Story</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="contact.html">Contact</a>
</li>


</ul>

<button class="btn btn-outline-warning">Get Started</button>

</div>
</div>
</nav>

<div class="container mt-5">

<h2 class="text-warning">The Project Involves</h2>

<div class="row mt-4">

<div class="col-md-6">

<p>
✔ Data collection is the process of gathering and measuring information on variables of interest, in an established systematic fashion that enables one to answer stated research questions, test hypothesis, and evaluate outcomes and generate insights from the data.
.
</p>

<p>
✔ Data preparation is the process of cleaning, transforming, and organizing data in order to make it suitable for analysis. It is an important step in the data analysis process, as the quality of the data used can have a significant impact on the accuracy and reliability of the results.

</p>

<p>
✔ Data visualization is the process of creating graphical representations of data in order to help people understand and explore the information. The goal of data visualization is to make complex data sets more accessible, intuitive, and easier to interpret. By using visual elements such as charts, graphs, and maps, data visualizations can help people quickly identify patterns, trends, and outliers in the data.

</p>

</div>

<div class="col-md-6">

<img src="Picture1.jpg" class="img-fluid">

</div>

</div>

</div>

</body>
</html>