<!DOCTYPE html>
<html>
<head>

<title>Dashboard</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body style="background:black">

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
<div class="container">

<a class="navbar-brand text-white fw-bold" href="/">SALES</a>

<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="menu">

<ul class="navbar-nav mx-auto">


<li class="nav-item">
<a class="nav-link text-white" href="index.html">Home</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="about.html">About</a>
</li>

<li class="nav-item">
<a class="nav-link text-warning" href="dashboard.html">DashBoard</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="story.html">Story</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="contact.html">Contact</a>
</li>

</ul>

<button class="btn btn-outline-warning">Get Started</button>

</div>
</div>
</nav>

<div class="container mt-5">

<h2 class="text-center text-warning">Product Placement Dashboard</h2>

<div class="mt-4">

<!-- TABLEAU DASHBOARD EMBED CODE  -->

<div class="tableauPlaceholder" id="viz1772819589326" style="position: relative;">

    <noscript>
        <a href="#">
            <img 
                alt="Tableau Dashboard"
                src="https://public.tableau.com/static/images/St/StrategicProductPlacementAnalysis_Final/Dashboard1/1_rss.png"
                style="border: none"
            />
        </a>
    </noscript>

    <object class="tableauViz" style="display:none;">

        <param name="host_url" value="https://public.tableau.com/" />
        <param name="embed_code_version" value="3" />
        <param name="site_root" value="" />

        <param name="name" value="StrategicProductPlacementAnalysis_Final/Dashboard1" />

        <param name="tabs" value="yes" />
        <param name="toolbar" value="yes" />

        <param name="static_image"
               value="https://public.tableau.com/static/images/St/StrategicProductPlacementAnalysis_Final/Dashboard1/1.png" />

        <param name="animate_transition" value="yes" />
        <param name="display_static_image" value="yes" />
        <param name="display_spinner" value="yes" />
        <param name="display_overlay" value="yes" />
        <param name="display_count" value="yes" />

        <param name="language" value="en-GB" />

    </object>
</div>


<script type="text/javascript">

var divElement = document.getElementById("viz1772819589326");
var vizElement = divElement.getElementsByTagName("object")[0];

if (divElement.offsetWidth > 800) {

    vizElement.style.minWidth = "1216px";
    vizElement.style.maxWidth = "100%";
    vizElement.style.minHeight = "1014px";
    vizElement.style.maxHeight = (divElement.offsetWidth * 0.75) + "px";

}
else if (divElement.offsetWidth > 500) {

    vizElement.style.minWidth = "1216px";
    vizElement.style.maxWidth = "100%";
    vizElement.style.minHeight = "1014px";
    vizElement.style.maxHeight = (divElement.offsetWidth * 0.75) + "px";

}
else {

    vizElement.style.minWidth = "1216px";
    vizElement.style.maxWidth = "100%";
    vizElement.style.minHeight = "2300px";
    vizElement.style.maxHeight = (divElement.offsetWidth * 1.77) + "px";

}

var scriptElement = document.createElement("script");
scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";

vizElement.parentNode.insertBefore(scriptElement, vizElement);

</script>

</div>

</div>

</body>
</html>